#canvas-container{
    width: 100%;
    text-align: center;

}
canvas{
    display: inline;
}
.container-fluid{
    margin-top: 100vh;
}
input{
    display: block;
    box-sizing: border-box;
}
p{
	margin: 2vw;
    display: inline-block;
    font-family: "Verdana", sans-serif;
    font-size: 2vh;
}
h2{
	margin-top: 2vw;
	font-size: 4vh;
    font-family: "Verdana", sans-serif;
    text-align: center;
}
h1{
	font-size: 5vh;
    font-family: "Verdana", sans-serif;
    text-align: center;
}
.background{
background: url(../img/sosi.png) repeat #fff;
}
